$text-size: 2rem;
$title-size: 3rem;
$drop-zone-height: calc(100vh - 520px);

// colors
$gray: #333;
$white: #fff;
$primary_1: #fa7268;
$primary_2: #de4467;
$primary_3: #c62368;
$shadow: #ffffff44;
$fade: #555;