.main {
  position: relative;
  height: 100vh;
}

.select {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.waves {
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  opacity: 0.8;
  pointer-events: none;
  z-index: -1;
}